.menu {
    width: 300px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    box-shadow: 2px 3px #999;
}
  
.menu-button:hover {
    background-color: #999;
}
  
.dropdown {
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 5px 0;
    width: 100%;
    left: 0;
    top: 100%;
    z-index: 1;
    overflow: hidden;
}
  
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.selectlv-item{
    width: 100%;
    height: 100%;
    text-align: center;
}
.selectlv-item:hover{
    background-color: #999;
}
  
  